<%
   f = taglib("/lib/form")
   f.block do
%>
    <table style="margin-left: 50px">
      <%
         f.entry :title => 'Consumer Key',
                 :field => :consumer_key,
                 :description => 'Consumer Key provided by Yammer. Leave blank to default to YAMMER.CONSUMER_KEY environment variable.' do
           f.textbox
         end

         f.entry :title => 'Consumer Secret',
                 :field => :consumer_secret,
                 :description => 'Consumer Secret provided by Yammer. Leave blank to default to YAMMER.CONSUMER_SECRET environment variable.' do
           f.textbox
         end

         f.entry :title => 'OAuth Key',
                 :field => :oauth_key,
                 :description => 'OAuth Key of Yammer user to post from. Leave blank to default to YAMMER.OAUTH_KEY environment variable.' do
           f.textbox
         end

         f.entry :title => 'OAuth Secret',
                 :field => :oauth_secret,
                 :description => 'OAuth Secret of Yammer user to post from. Leave blank to default to YAMMER.OAUTH_SECRET environment variable.' do
           f.textbox
         end

         f.entry :title => 'Group ID',
                 :field => :group_id,
                 :description => 'The Yammer group ID (feed ID) to post to. (Required)' do
           f.textbox
         end

         f.optionalBlock :title => 'Send success notifications',
                         :field => :send_success_notifications,
                         :inline => true do
           f.entry :title => 'Success Message',
                   :field => :success_message,
                   :description => 'A custom message to post when the build finishes with a status of SUCCESS. (Optional)' do
             f.textbox
           end

         end

         f.optionalBlock :title => 'Send failure notifications',
                         :field => :send_failure_notifications,
                         :inline => true do
           f.entry :title => 'Failure Message',
                   :field => :failure_message,
                   :description => 'A custom message to post when the build finishes with a status OTHER THAN SUCCESS. (Optional)' do
             f.textbox
           end
         end

      %></table>
<%
   end
%>
