<%
   f = taglib("/lib/form")
   f.block do
%>
    <table style="margin-left: 30px;">
      <%
         f.entry :title => 'Client Key',
                 :field => :client_key,
                 :description => 'Client Key provided by Yammer.' do
           f.textbox :clazz => 'required', :default => '${YAMMER_CLIENT_KEY}'
         end

         f.entry :title => 'Client Secret',
                 :field => :client_secret,
                 :description => 'Client Secret provided by Yammer.' do
           f.textbox :clazz => 'required', :default => '${YAMMER_CLIENT_SECRET}'
         end

         f.entry :title => 'Token Key',
                 :field => :token_key,
                 :description => 'Token Key of the Yammer user to post from.' do
           f.textbox :clazz => 'required', :default => '${YAMMER_TOKEN_KEY}'
         end

         f.entry :title => 'Token Secret',
                 :field => :token_secret,
                 :description => 'Token Secret of the Yammer user to post from.' do
           f.textbox :clazz => 'required', :default => '${YAMMER_TOKEN_SECRET}'
         end

         f.optionalBlock :title => 'Send success notifications',
                         :field => :send_success_notifications,
                         :inline => true do
           f.entry :title => 'Success Message',
                   :field => :success_message,
                   :description => 'The message to post when the build finishes with a status of SUCCESS.' do
             f.textarea :clazz => 'required', :default => '${JOB_NAME} #${BUILD_NUMBER} SUCCESS'
           end

           f.entry :title => 'Group ID',
                   :field => :success_group_id,
                   :description => 'The Yammer group ID to post to.' do
             f.textbox :clazz => 'required positive-number'
           end
         end

         f.optionalBlock :title => 'Send failure notifications',
                         :field => :send_failure_notifications,
                         :inline => true do
           f.entry :title => 'Failure Message',
                   :field => :failure_message,
                   :description => 'The message to post when the build finishes with a status OTHER THAN SUCCESS.' do
             f.textarea :clazz => 'required', :default => '${JOB_NAME} #${BUILD_NUMBER} FAILURE'
           end

           f.entry :title => 'Group ID',
                   :field => :failure_group_id,
                   :description => 'The Yammer group ID to post to.' do
             f.textbox :clazz => 'required positive-number'
           end
         end

      %></table>
<%
   end
%>
